.article {
  display: block;
  max-width: 500px;
  margin: 2rem 0;
}

.title {
  position: relative;
  margin-bottom: 1.5rem;
}

.title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  width: 30px;
  height: 3px;
  animation-name: fadeOut;
  animation-duration: 0.5s;
}

.title:hover::after {
  width: 60px;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.Zenn::after {
  background-color: #3ea8ff;
}

.Qiita::after {
  background-color: #55c500;
}

.content {
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #777;
}

.right {
  display: flex;
  justify-content: right;
}

@keyframes fadeIn {
  0% {
    width: 30px;
  }

  100% {
    width: 60px;
  }
}

@keyframes fadeOut {
  0% {
    width: 60px;
  }

  100% {
    width: 30px;
  }
}
