.container {
  max-width: 840px;
  margin: 2rem 0 4rem;
}

.section-title {
  margin-bottom: 2rem;
}

.posts {
  display: flex;
  flex-direction: column;
}

.post {
  margin-bottom: 1rem;
}

.title {
  position: relative;
  font-size: 1.2rem;
}

.title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  width: 30px;
  height: 3px;
  animation-name: fadeOut;
  animation-duration: 0.5s;
  background-color: #4caf93;
}

.title:hover::after {
  width: 50px;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.lead {
  color: #bbb;
}

@keyframes fadeIn {
  0% {
    width: 30px;
  }

  100% {
    width: 50px;
  }
}

@keyframes fadeOut {
  0% {
    width: 60px;
  }

  100% {
    width: 30px;
  }
}
