.container {
  margin: 0 3rem;
}

.head {
  display: flex;
}

.service {
  margin-left: 5px;
}

.articles {
  height: 70vh;
  overflow-y: scroll;
}

.article {
  display: block;
  margin: 2rem 0;
}

.title {
  position: relative;
}

.title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  width: 30px;
  height: 3px;
  animation-name: fadeOut;
  animation-duration: 0.5s;
}

.title:hover::after {
  width: 60px;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.Zenn::after {
  background-color: #3ea8ff;
}

.Qiita::after {
  background-color: #55c500;
}

.content {
  font-size: 0.9rem;
}

.right {
  display: flex;
  justify-content: right;
}

@keyframes fadeIn {
  0% {
    width: 30px;
  }

  100% {
    width: 60px;
  }
}

@keyframes fadeOut {
  0% {
    width: 60px;
  }

  100% {
    width: 30px;
  }
}
