.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.section {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}

.article {
  max-width: 500px;
  margin: 2rem 0;
}

.title {
  font-weight: bold;
}

.content {
  font-size: 0.9rem;
}
