.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.post {
  padding: 1rem;
  border-radius: 4px;
  background: #202225;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.1s;
}

.post:hover {
  border: 1px solid #777;
}

.post-title {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}
